a{
    text-decoration: none;
}

textarea{
    width: 700px;
    height: 400px;
    border-radius: 5px;
}

input{
    width: 700px;
    border-radius: 5px;
}

p{
    text-align: justify;
}

.distance{
    margin-left: 20px;
}

.buttonStyle{
    color: white;
    border-radius: 5px;
    width: 150px;
    height: 35px;
}

.buttonConfirm{
    border: 0px;
    border-bottom: 4px solid #394F00;
    background-color: #658B00;
}

.buttonDelete{
    border: 0px;
    border-bottom: 4px solid #710000;
    background-color: #C60000;
}

.containerPosts{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap:5px;
}

.header{
    width: 100%;
    padding-top: 20px;
    height: 50px;
    background-color: #1F5AA5;
}

.header a{
    color: white;
    padding-left: 10px;
}

.containerPost{
    margin: 0 65px 0 65px;
    letter-spacing: 0.025em;
}

@media (max-width: 768px){
    textarea{
        width: 650px;
        height: 250px;
        margin-bottom: 10px;
    }
    input{
        width: 650px;
    }
    .containerPosts{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 480px){
    textarea{
        width: 290px;
        height: 150px;
        margin-bottom: 10px;
    }
    input{
        width: 290px;
    }
    .containerPosts{
        grid-template-columns: repeat(2, 1fr);
    }
    .containerPost{
        margin: 0 30px 0 30px;
    }
}

